In [1]:
import pandas as pd
from geopy.extra.rate_limiter import RateLimiter
from geopy.geocoders import Nominatim

In [2]:
geolocator = Nominatim(user_agent = 'geocode_zeta')

In [3]:
locator = Nominatim(user_agent = 'geocode_zeta')

In [4]:
geocode = RateLimiter(locator.geocode, min_delay_seconds=1)

In [5]:
df = pd.read_csv('amostragem.csv')

In [6]:
df.head(5)

,Razao Social,Nome Fantasia,Logradouro,numero,Bairro,Municipio,cep,UF
0,DISKTRANS COMERCIAL LTDA,NaN,ANTONIO OVIDIO RODRIGUES,1389,LOTEAMENTO PARQUE INDUSTRIAL DE JUNDIAI,JUNDIAI,13213180,SP
1,DISLAB COMERCIAL FARMACEUTICA LTDA.,NaN,ANHANGUERA,SN,PARQUE RESIDENCIAL CANDIDO PORTINARI,RIBEIRAO PRETO,14093500,SP
2,DISMASA LOGISTICA LTDA,DISMASA,DOS AUTONOMISTAS,4900,KM 18,OSASCO,6194060,SP
3,DISMAX DISTRIBUICAO E REPRESENTACAO DE PRODUTO...,DISMAX DISTRIBUIDORA,ESTEVAO MENDONCA,510,VILA SANTA CATARINA,SAO PAULO,4372050,SP
4,DISMED - DISTRIBUIDORA DE MEDICAMENTOS OLIMPIA...,DISMED,MENINA MOCA,559,JD. BLANCO,OLIMPIA,15400000,SP

In [ ]:
df['location'] = df['Logradouro'].apply(geocode)

In [ ]:
df['point'] = df['location'].apply(lambda loc: tuple(loc.point) if loc else None)

In [ ]:
df[['latitude', 'longitude', 'altitude']] = pd.DataFrame(df['point'].tolist(), index=df.index)